{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
	我的小说|首页
{% endblock %}

{% block header_extends %}
	<link rel="stylesheet" href="{% static 'home.css' %}">
	<script src='http://cdn.hcharts.cn/highcharts/highcharts.js'></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
	<h3 class='hometext-center'>欢迎访问, 请自由探索!</h3>
	<br>
	<h5 class='hometext-smaller'>本网站使用css文件排版, 加载有时较慢, 请耐心等待</h5>
	<div id='container'></div>

	<hr>
	<div class='container'>
		<div class='row'>
			<div class='col-md-6' id='hot_data'>
				<h3 id='hot_data'>今日热门章节: </h3>
				<ul>
					{% for hot_data in today_hot_data %}
						<li>
							<a href='{% url "blog_detail" hot_data.content_object.id %}'>
								{{ hot_data.content_object.title }}
							</a>
							<span class='badge'>
								{{ hot_data.read_num }}
							</span>
						</li>
					{% empty %}
						<li>今日暂无热门章节</li>
					{% endfor %}
				</ul>
			</div>

			<div class='col-md-6' id='hot_data'>
				<h3 id='hot_data'>本周热门章节: </h3>
				<ul>
					{% for hot_data in week_hot_data %}
						<li>
							<a href='{% url "blog_detail" hot_data.id %}'>
								{{ hot_data.title }}
							</a>
							<span class='badge'>
								{{ hot_data.read_num_sum }}
							</span>
						</li>
					{% empty %}
						<li>本周暂无热门章节</li>
					{% endfor %}
				</ul>
			</div>
		</div>

		<div class='row'>
			<div class='col-md-6' id='hot_data'>
				<h3 id='hot_data'>昨日热门章节: </h3>
				<ul>
					{% for hot_data in yesterday_hot_data %}
						<li>
							<a href='{% url "blog_detail" hot_data.content_object.id %}'>
								{{ hot_data.content_object.title }}
							</a>
							<span class='badge'>
								{{ hot_data.read_num }}
							</span>
						</li>
					{% empty %}
						<li>昨日暂无热门章节</li>
					{% endfor %}
				</ul>
			</div>

			<div class='col-md-6' id='hot_data'>
				<h3 id='hot_data'>本月热门章节: </h3>
				<ul>
					{% for hot_data in month_hot_data %}
						<li>
							<a href='{% url "blog_detail" hot_data.id %}'>
								{{ hot_data.title }}
							</a>
							<span class='badge'>
								{{ hot_data.read_num_sum }}
							</span>
						</li>
					{% empty %}
						<li>本月暂无热门章节</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>

	<script>
		var options = {
			chart: { type: 'line' },
			title: { text: null },
			xAxis: {
				categories: {{ dates|safe }},
				tickmarkPlacement: 'on',
				title: { text: '前七日阅读量' }
			},
			yAxis: {
				title: { text: null },
				labels: { enabled: false },
				gridLineDashStyle: 'Dash'
			},
			series: [{
				name: '阅读量',
				data: {{ read_nums }}
			}],
			plotOptions: {
				line: {
					dateLabels: { enabled: true }
				}
			},
			legend: { enabled: false },
			credits: { enabled: false }
		};

		var chart = Highcharts.chart('container', options);
	</script>
{% endblock %}
